* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: black;
  font-family: "Source Serif Pro", serif;
}
canvas {
  display: block;
}


#container {
  max-width: 1280px;
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
}
@media all and (max-width: 569px) {
  .container {
    width: 300px;
  }
}




#info {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 20px;
  border: green solid 2px;
}
#screen {
  position: relative;
  width: 800px;
  height: 550px;
  border: orangered solid 2px;
}
/* #canvas {
  width: 100%;
  height: 100%;
} */
#gameWindow {
  position: relative;
  width: 800px;
  height: 500px;
  border: blue solid 2px;
  overflow: hidden;

}
#buttons {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 800px;
  height: 30px;
  border: yellow solid 2px;
}
/* ... */

#sprite-container {
  position: relative;
  display: flex;
  align-items: center;
}
#sprite-img {
  position: relative;
  width: 55px;
  height: 74px;
  animation: MyAnimation 0.8s steps(3) infinite;
}
@keyframes MyAnimation {
  from {
    background: url("/FD2/GAME/img/Fox.png") 0px 160px;
  }
  to {
    background: url("/FD2/GAME/img/Fox.png") -168px 160px;
  }
}
