* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

#container {
  max-width: 712px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  border: brown solid 1px;
}

#screen {
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

#IPage {
  max-width: 712px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  position: relative;
  background-image: url(../GAME/img/ffffon.jpeg);
}

#containerMain {
  max-width: 712px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  position: relative;
  border: brown solid 1px;
}

#startDiv {
  max-width: 712px;
  height: 100vh;
  padding-top: 150px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border: brown solid 5px;
}

#nameDiv {
  width: 300px;
  height: 40px;
  border-radius: 7%;
  background-color: white;
  background: rgba(255, 254, 254, 0.6);
}

#playDiv {
  width: 100px;
  height: 100px;
  background-image: url(../GAME/img/ergrthhy.svg);
  border-radius: 50%;
  z-index: 2;
  transition: transform 0.5s;
}
#playDiv:hover {
  transform: scale(1.2);
}

#screenMain {
  height: 100vh;
  padding-top: 150px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.buttonMain {
  cursor: pointer;
  height: 50px;
  width: 200px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  background-color: white;
  border-radius: 10%;
  text-align: center;
  align-items: center;
  border: green solid 2px;
  position: relative;
  overflow: hidden;
}
.buttonMain:after {
  content: "";
  background-color: rgba(189, 238, 55, 0.801);
  border-radius: 50%;
  transition: width 1s ease, height 1s ease;
  position: absolute;
  top: -70px;
  left: -30px;
  transition: translate(-50%, -50%);
  height: 0px;
  width: 0px;
  z-index: 1;
}
.buttonMain p {
  margin: auto;
  font-size: 25px;
  z-index: 10;
}

.buttonMain:hover:after {
  height: 250px;
  width: 250px;
}

#info {
  width: 100%;
  margin: 0 auto;
  height: 20px;
  padding: 0;
  position: absolute;
  display: flex;
}

#gameWindow {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: flex;
  background-image: url(../GAME/img/fon.jpeg);
  background-color: yellowgreen;
  background-size: contain;
  background-repeat: repeat-x;
}

#buttons {
  width: 100%;
  margin: 0 auto;
  height: 25px;
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  margin-bottom: 3px;
}
#buttons div {
  color: white;
  font-size: 20px;
  border: white solid 1px;
  width: 50%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.mes {
  background-color: gray;
  width: 100%;
  height: 100%;
  display: inline-block;
}

#sprite-container {
  display: flex;
  align-items: center;
}

#sprite-img {
  -webkit-animation: steps(3) infinite;
          animation: steps(3) infinite;
  -webkit-animation-name: stopFox;
          animation-name: stopFox;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.star {
  background: url("img/gelud.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: red solid 1px;
  transform-origin: 10%;
}

.invisible {
  visibility: hidden;
}

#recordeTableConyainer {
  position: relative;
  display: flex;
}

#recordeTable {
  background-color: honeydew;
  position: relative;
  display: flex;
  flex-direction: column;
  border: red solid 1px;
  padding: 25px;
  margin-top: 30px;
}

#recordsHead {
  font-size: 25px;
  color: #537244;
  font-family: sans-serif;
  padding-bottom: 20px;
}

#recordsHash {
  font-size: 25px;
  color: #395e5dd1;
  font-family: cursive;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.recordString {
  display: flex;
  width: 70%;
}

.divForRecordName {
  width: 100%;
  margin: auto;
}

.divForRecordCount {
  width: 30%;
  margin: 0 auto;
}

#btnBackToMainMenu {
  width: 25%;
  padding: 10px;
  background: #dee1d5;
  text-align: center;
  /* margin-top: 10px; */
  border-radius: 10%;
  /* padding: 20px; */
  margin: auto;
  align-items: center;
}

@-webkit-keyframes walkToRight {
  from {
    background: url("img/Fox.png") 0px 157px;
  }
  to {
    background: url("img/Fox.png") -168px 157px;
  }
}

@keyframes walkToRight {
  from {
    background: url("img/Fox.png") 0px 157px;
  }
  to {
    background: url("img/Fox.png") -168px 157px;
  }
}
@-webkit-keyframes walkToLeft {
  from {
    background: url("img/Fox2.png") 0px 157px;
  }
  to {
    background: url("img/Fox2.png") -168px 157px;
  }
}
@keyframes walkToLeft {
  from {
    background: url("img/Fox2.png") 0px 157px;
  }
  to {
    background: url("img/Fox2.png") -168px 157px;
  }
}
@-webkit-keyframes stopFox {
  from {
    background: url("img/Fox.png") 0px 705px;
  }
  to {
    background: url("img/Fox.png") -168px 705px;
  }
}
@keyframes stopFox {
  from {
    background: url("img/Fox.png") 0px 705px;
  }
  to {
    background: url("img/Fox.png") -168px 705px;
  }
}
@-webkit-keyframes stopFoxLeft {
  from {
    background: url("img/Fox2.png") 0px 705px;
  }
  to {
    background: url("img/Fox2.png") -168px 705px;
  }
}
@keyframes stopFoxLeft {
  from {
    background: url("img/Fox2.png") 0px 705px;
  }
  to {
    background: url("img/Fox2.png") -168px 705px;
  }
}/*# sourceMappingURL=dd.css.map */