* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
#container {
  max-width: 712px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  //border: brown solid 1px;
}
#screen {
  //width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}
#info {
  width: 100%;
  margin: 0 auto;
  height: 20px;
  padding: 0;
  position: absolute;
  display: flex;
  //border: yellow solid 1px;
}
#gameWindow {
  width: 100%;

  margin: 0 auto;
  padding: 0;
  position: relative;
  display: flex;
  //border: green solid 1px;
  background-image: url(../GAME/img/fon.jpeg);
  background-color: yellowgreen;
  background-size: contain;
  background-repeat: repeat-x;
}
#buttons {
  width: 100%;
  margin: 0 auto;
  height: 25px;
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  margin-bottom: 3px;
  //border: blue solid 1px;
  div {
    color: white;
    font-size: 20px;
    border: white solid 1px;
    width: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
}
.mes {
  background-color: gray;
  width: 100%;
  height: 100%;
  display: inline-block;
}
//////////
#sprite-container {
  //width: 100vh;
  display: flex;
  align-items: center;
}
#sprite-img {
  //   width: 55px;
  //   height: 74px;
  animation:  steps(3) infinite;
  animation-name: stopFox;
  animation-duration: 0.5s;
}
.star{
  background: url("img/gelud.svg");
  background-position: center;
  background-size: contain;
background-repeat: no-repeat;
  border: red solid 1px;
  transform-origin:10%
}
@keyframes walkToRight {
  from {
    background: url("img/Fox.png") 0px 157px;
  }
  to {
    background: url("img/Fox.png") -168px 157px;
  }
}
@keyframes walkToLeft {////////
  from {
    background: url("img/Fox2.png") 0px 157px;
  }
  to {
    background: url("img/Fox2.png") -168px 157px;
  }
}
@keyframes stopFox {
  from {
    background: url("img/Fox.png")  0px 705px;
  }
  to {
    background: url("img/Fox.png") -168px 705px;
  }
}

@keyframes stopFoxLeft {
  from {
    background: url("img/Fox2.png")  0px 705px;
  }
  to {
    background: url("img/Fox2.png") -168px 705px;
  }
}


// @keyframes fallingStar {
//   from {
//     background: url("img/florian-varzi-acornss01.jpeg") 0px 157px;
//   }
//   to {
//     background: url("img/florian-varzi-acornss01.jpeg") -168px 157px;
//   }
// }