@import "../all/mixin";
@import "../all/var";
@import "varNM";
#ourNews {
  margin: 20px 5px 20px 5px;
  h1 {
    font-size: 75px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px 0 20px 0;
    @include myMedia($thirdmedia) {
      font-size: 50px;
    }
    @include myMedia($fourthmedia) {
      font-size: 40px;
    }
    @include myMedia($fivesmedia) {
      font-size: 25px;
    }
  }
  hr {
    height: 3px;
    color: black;
  }
  h4 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 20px 0 20px 0;
    @include myMedia($thirdmedia) {
      font-size: 30px;
    }
    @include myMedia($fourthmedia) {
      font-size: 20px;
    }
    @include myMedia($fivesmedia) {
      font-size: 17px;
    }
  }
  p {
    font-size: 18px;
    @include myMedia($fourthmedia) {
      font-size: 17px;
    }
    @include myMedia($fourthmedia) {
      font-size: 16px;
    }
  }
}
#main-news-on-page {
  margin: 20px 0 20px 0;
  background-color: $JCW-background;
  @include myMedia($thirdmedia) {
    display: none;
  }
  .fresh-news {
    padding: 90px 0 60px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .main-card {
      background-color: $white;
      width: 900px;
      margin: 0 20px;
      border: none;
      @include myMedia($firstmedia) {
        max-width: 700px;
      }
      .main-image {
        background: url(../../img/news/damImage.narrow.1640w.j_1560856873531.jpg)
          no-repeat;
        background-size: cover;
        margin-left: -40px;
        margin-top: -40px;
        width: 900px;
        height: 550px;
        @include myMedia($firstmedia) {
          max-width: 700px;
          height: 500px;
          margin-left: 0;
          margin-top: 0;
        }
      }
      h2 {
        text-transform: uppercase;
        font-size: 30px;
        padding-top: 8px;
        padding-bottom: 25px;
        margin-left: 10px;
        font-weight: 500;
      }
      p {
        font-style: italic;
        margin-left: 10px;
        margin-top: 10px;
      }
    }
  }
}
#news {
  h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    &::before,
    &::after {
      content: "\2014";
    }
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
  }
}
#news-line {
  padding-top: 30px;
  background-color: $JCW-background;
  .containerPage {
    .newsCards {
      padding: 50px 0 60px 0;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      @include myMedia($secondmedia) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .card {
        background-color: $white;
        width: 350px;
        margin: 0 20px;
        border: none;
        @include myMedia($fivesmedia) {
          margin: 0;
          max-width: 280px;
        }
        .image1,
        .image2,
        .image3 {
          margin-left: -20px;
          margin-top: -20px;
          width: 350px;
          height: 250px;
          @include myMedia($fivesmedia) {
            margin-left: 0;
            margin-top: 0;
            max-width: 280px;
          }
          // @include myMedia($first) {
          //   width: 400px;
          // }
          // @include myMedia($six) {
          //   width: 100%;
          // }
        }

        .image1 {
          background: url(../../img/first-page/news1.jpeg) no-repeat;
          background-size: cover;
        }
        .image2 {
          background: url(../../img/first-page/news2.jpg) no-repeat;
          background-size: cover;
        }
        .image3 {
          background: url(../../img/first-page/news3.jpg) no-repeat;
          background-size: cover;
        }
        h2 {
          text-transform: uppercase;
          font-size: 20px;
          font-weight: 400;
          margin-bottom: 20px;
          margin-left: 10px;
          margin-top: 18px;
        }
        p {
          font-style: italic;
          text-decoration: underline;
          margin-left: 10px;
          margin-top: 10px;
        }
      }

      .card2 {
        @include myMedia($secondmedia) {
          margin-top: 70px;
        }
      }
      .card3 {
        @include myMedia($secondmedia) {
          margin-top: 70px;
        }
      }
    }
  }
}
