// colors
$main-text-color: black;
$slider-text-color:white;
$JCW-background: #f1f1f1;
$btn-color:#0085ac;


//fonts

$main-font-family:'Source Serif Pro', serif;
$bold:600;
$font-for-btn: 'Roboto', sans-serif;


//grid
$md: 1280px;

//mixins
$firstmedia: 773px;
$secondmedia: 715px;
