@charset "UTF-8";
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: black;
  font-family: "Source Serif Pro", serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.containerPage {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.controls {
  position: fixed;
  font-size: 42px;
  right: 10px;
  top: 10px;
  display: none;
}
@media all and (max-width: 648px) {
  .controls {
    display: flex;
  }
  .controls .fa-times-circle {
    display: none;
  }
}

header .header .containerPage .navHead {
  width: 100%;
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media all and (max-width: 783px) {
  header .header .containerPage .navHead {
    flex-direction: column;
  }
}
header .header .containerPage .navHead .logo {
  display: inline-block;
  height: 35px;
  width: 75px;
  margin-left: 20px;
  background: url("../../img/mini-logo-black.svg") no-repeat center;
  margin-right: 40px;
}
@media all and (max-width: 783px) {
  header .header .containerPage .navHead .logo {
    margin-right: 20px;
    margin-bottom: 10px;
  }
}
@media all and (max-width: 648px) {
  header .header .containerPage .navHead .logo {
    margin-bottom: 0;
  }
}
header .header .containerPage .navHead .logo:hover {
  background: url("../../img/first-page/mini-logo-white.svg") no-repeat center;
  background-color: black;
  border-radius: 3px;
}
header .header .containerPage .navHead #menu {
  width: 90%;
  display: flex;
  margin: 0;
  justify-content: space-around;
}
@media all and (max-width: 783px) {
  header .header .containerPage .navHead #menu {
    width: 100%;
    padding-left: 0;
  }
}
@media all and (max-width: 648px) {
  header .header .containerPage .navHead #menu {
    position: fixed;
    height: 101vh;
    background-color: black;
    flex-direction: column;
    top: 0;
    left: -80%;
    width: 80%;
    transition: 0.5s;
    z-index: 55;
    justify-content: space-evenly;
    padding-left: 30px;
  }
}
header .header .containerPage .navHead #menu .arrow .fa-angle-down,
header .header .containerPage .navHead #menu .arrow .fa-angle-up {
  display: none;
  color: white;
}
@media all and (max-width: 648px) {
  header .header .containerPage .navHead #menu .arrow .fa-angle-down {
    display: inline-block;
  }
}
header .header .containerPage .navHead #menu > li {
  position: relative;
  list-style: none;
  color: black;
  padding: 8px;
}
@media all and (max-width: 648px) {
  header .header .containerPage .navHead #menu > li {
    color: white;
    font-size: 20px;
  }
}
header .header .containerPage .navHead #menu > li:hover {
  background-color: black;
  border-radius: 3px;
  color: white;
}
header .header .containerPage .navHead #menu > li:hover #sub-menu {
  display: block;
}
header .header .containerPage .navHead #menu > li a {
  color: inherit;
  text-transform: uppercase;
  margin: 5px;
}
header .header .containerPage .navHead #menu > li #sub-menu {
  z-index: 99;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  padding-top: 40px;
  margin-left: -32px;
}
@media all and (max-width: 648px) {
  header .header .containerPage .navHead #menu > li #sub-menu {
    display: none;
  }
}
header .header .containerPage .navHead #menu > li #sub-menu li {
  background-color: #f1f1f1;
  padding: 10px 0 10px 8px;
}
header .header .containerPage .navHead #menu > li #sub-menu li:hover {
  background-color: black;
  border-radius: 3px;
  color: white;
}
header .header .containerPage .navHead #menu > li #sub-menu li:hover a {
  color: inherit;
  text-transform: uppercase;
  margin: 5px;
}
@media all and (max-width: 419px) {
  header .breadcrumb {
    display: none;
  }
}
header .breadcrumb ol {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}
@media all and (max-width: 648px) {
  header .breadcrumb ol {
    padding-top: 0;
  }
}
header .breadcrumb ol li {
  display: inline;
  list-style: none;
  color: black;
  color: inherit;
  text-transform: uppercase;
  font-size: 13px;
}
header .breadcrumb ol li span:hover {
  text-decoration: underline;
}
header .breadcrumb ol li a {
  color: inherit;
  text-transform: uppercase;
  margin: 5px;
}
header .breadcrumb ol li::after {
  content: " / ";
}
header .breadcrumb ol li::before {
  display: none;
}
header .breadcrumb ol li:last-child:after {
  display: none;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}
footer .containerPage .footer {
  display: flex;
  justify-content: space-between;
  color: white;
  position: relative;
}
footer .containerPage .footer .social {
  margin: 0;
  display: flex;
  align-items: center;
}
footer .containerPage .footer .social .facebook {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: black;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}
footer .containerPage .footer .social .facebook i {
  color: white;
  margin-top: 7px;
}
footer .containerPage .footer .social .instagram {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: black;
  margin-right: 20px;
  text-align: center;
  vertical-align: middle;
}
footer .containerPage .footer .social .instagram i {
  color: white;
  margin-top: 7px;
}
footer .containerPage .up {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: black;
  margin-right: 20px;
  text-align: center;
}
@media all and (max-width: 419px) {
  footer .containerPage .up {
    position: fixed;
    z-index: 20;
    bottom: 20px;
    right: 10px;
    margin: 0;
  }
}
footer .containerPage .up i {
  color: white;
  margin-top: 7px;
}/*# sourceMappingURL=menu-footer-style.css.map */