// colors
$main-text-color: black;
$slider-text-color:white;
$btn-color:#300630;


//fonts

$main-font-family:'Source Serif Pro', serif;
$bold:600;
$font-for-btn: 'Roboto', sans-serif;


//grid
$md: 1200px;

//mixins
$first: 1169px;
$second: 1140px;
$third: 879px;
$fourth: 861px;
$fives: 729px;
$six: 569px;
