div.MobileClient{
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
  padding: 5px;
  border-bottom: solid 1px;
}

div.MobileClientInfo{
  display: flex;
  justify-content: space-between;
}

div.MobileClientInfo>div{
  padding: 5px;
}

div.MobileClientBalance
{
  font-weight: bold;
  text-align: right;
}

div.MobileClientIsBlockedtrue{
  background-color: rgb(202, 113, 113);
  width: 100px;
}

div.MobileClientIsBlockedfalse{
  background-color: rgb(75, 158, 75);
  width: 100px;
}
