body {
  margin: 0;
  padding: 0;
}

/* первый способ */

.first div {
  float: left;
  font-size: 20px;
  padding: 20px;
  margin: 0;
  display: inline;
}
.first div a {
  color: green;
}
.first div a:hover {
  color: red;
}
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.first div {
  border-right: 2px solid red;
}
.first :nth-of-type(5) {
  border: none;
}

/* второй способ */
ul.second li {
  list-style-type: none;
  float: left;
  border-right: 2px solid red;
  height: 40px;
  padding-top: 10px;
  font-size: 20px;
  margin-right: 20px;
  padding-right: 20px;
}
li a {
  color: green;
}
ul {
  padding-left: 20px;
}
ul.second li:nth-child(5) {
  border: none;
}
ul li a:hover{
color: red ;
}

/* третий способ */
ul.third li {
  list-style-type: none;
  float: left;
  height: 40px;
  padding-top: 10px;
  font-size: 20px;
  padding-right: 20px;
}
li a {
  color: green;
}
ul {
  padding-left: 20px;
}
ul.third li img {
  margin-top: -10px;
}
