.container_track {
  display: flex;
}

.shortMode_track,
.shortMode_container_track {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.shortMode_track .for_span_track,
.shortMode_container_track .for_span_track {
  width: 35%;
}
@media all and (max-width: 729px) {
  .shortMode_track .for_span_track,
.shortMode_container_track .for_span_track {
    width: 100vw;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.shortMode_track .for_audio_track,
.shortMode_container_track .for_audio_track {
  width: 50%;
}
@media all and (max-width: 729px) {
  .shortMode_track .for_audio_track,
.shortMode_container_track .for_audio_track {
    width: 100vw;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.shortMode_track .for_input_track,
.shortMode_container_track .for_input_track {
  width: 15%;
  align-self: center;
  padding-right: 5px;
  padding-left: 5px;
}
.shortMode_track .for_input_track > input,
.shortMode_container_track .for_input_track > input {
  display: flex;
  align-items: flex-end;
}
.shortMode_track .for_span_track,
.shortMode_track .for_audio_track,
.shortMode_track .for_input_track,
.shortMode_container_track .for_span_track,
.shortMode_container_track .for_audio_track,
.shortMode_container_track .for_input_track {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

.shortMode_container_track {
  -webkit-animation-name: MyAnimation2;
          animation-name: MyAnimation2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes MyAnimation2 {
  from {
    height: 50px;
  }
  to {
    height: 0;
    overflow: hidden;
  }
}

@keyframes MyAnimation2 {
  from {
    height: 50px;
  }
  to {
    height: 0;
    overflow: hidden;
  }
}
.fullMode_track {
  margin: 0 auto;
  padding: 40px;
  display: flex;
}
.fullMode_track .for_full_track {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.fullMode_track .for_full_track .for_span_track {
  align-self: center;
}
.fullMode_track .for_full_track .for_input_track {
  align-self: center;
  text-align: center;
}
.fullMode_track .for_full_track .for_input_track input {
  margin-top: 10px;
}
.fullMode_track .for_full_track img {
  width: 250px;
  height: 250px;
  align-self: center;
}
.fullMode_track .for_full_track input {
  margin: 0 auto;
  justify-content: center;
  align-self: center;
}* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pageContainerOfMainPageAboutUS {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.songName {
  margin-top: 8px;
  max-width: 950px;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.songN {
  margin-top: 8px;
}

audio {
  width: 500px;
  height: 40px;
}.selection {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #e1e0e5;
}
.selection .PageLink,
.selection span {
  color: black;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}
@media all and (max-width: 729px) {
  .selection .PageLink,
.selection span {
    font-size: 13px;
  }
}.container_Loader {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}
.container_Loader img {
  height: 200px;
  -webkit-animation-name: rotationLoader;
          animation-name: rotationLoader;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes rotationLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}.btn_All_Music {
  padding: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.btn_All_Music .input_text {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.btn_All_Music .input_text input {
  margin-top: 3px;
  margin-bottom: 3px;
}
@media all and (max-width: 861px) {
  .btn_All_Music .input_text {
    width: 50%;
    flex-direction: column;
    padding: 0px 20px;
  }
}
.btn_All_Music .input_btn {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.btn_All_Music .input_btn input {
  margin-top: 3px;
  margin-bottom: 3px;
}
@media all and (max-width: 861px) {
  .btn_All_Music .input_btn input {
    width: 50%;
    align-self: center;
  }
}
@media all and (max-width: 861px) {
  .btn_All_Music .input_btn {
    flex-direction: column;
  }
}
@media all and (max-width: 500px) {
  .btn_All_Music {
    flex-direction: column;
    align-content: space-around;
  }
}.save_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
}.div_Page_Start {
  padding-top: 20px;
}
.div_Page_Start p {
  font-size: 25px;
  padding-top: 40px;
}
.div_Page_Start h1 {
  font-size: 35px;
}body {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
}

.pageContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #c6c5c9;
}
.pageContainer .PageLink,
.pageContainer span {
  color: black;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}
@media all and (max-width: 729px) {
  .pageContainer .PageLink,
.pageContainer span {
    font-size: 15px;
  }
}
@media all and (max-width: 640px) {
  .pageContainer {
    flex-wrap: wrap;
  }
}
@media all and (max-width: 500px) {
  .pageContainer {
    display: none;
  }
}

.ActivePageLink {
  font-weight: bold;
  color: black;
}

.btn-row {
  width: 100vw;
  height: 35px;
  display: none;
}
@media all and (max-width: 500px) {
  .btn-row {
    display: flex;
  }
}
.btn-row .logo {
  position: fixed;
  top: 5px;
  left: 40%;
  font-size: 25px;
}

.btn {
  height: 35px;
  width: 35px;
  margin-left: 20px;
  position: fixed;
  z-index: 10;
  align-items: center;
  display: none;
}
@media all and (max-width: 500px) {
  .btn {
    display: flex;
  }
}

.btn-burger {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}
.btn-burger span {
  width: 30px;
  position: absolute;
  top: 14px;
  background-color: black;
  height: 4px;
}

.btn-burger::before {
  content: "";
  width: 30px;
  position: absolute;
  top: 3px;
  background-color: black;
  height: 4px;
}

.btn-burger::after {
  content: "";
  width: 30px;
  position: absolute;
  bottom: 1px;
  background-color: black;
  height: 4px;
}

.btn-burger_pageContainer {
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  transform: translate(-100%);
  background-color: #edecf2;
  font-size: 20px;
  text-align: center;
}
.btn-burger_pageContainer span {
  font-size: 30px;
}
.btn-burger_pageContainer .PageLink,
.btn-burger_pageContainer span {
  color: black;
  text-decoration: none;
}
.btn-burger_pageContainer li {
  font-size: 20px;
  margin: 25px 10px;
  cursor: pointer;
}

.btn-burger_pageContainer_active {
  transform: translate(0);
}

@-webkit-keyframes MyAnimationON {
  from {
    transition: translate(-100%);
  }
  to {
    transition: translate(0);
  }
}

@keyframes MyAnimationON {
  from {
    transition: translate(-100%);
  }
  to {
    transition: translate(0);
  }
}
@-webkit-keyframes MyAnimationOFF {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}
@keyframes MyAnimationOFF {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainComponent_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "Source Serif Pro", serif;
}
/*# sourceMappingURL=bundle.css.map*/