@charset "UTF-8";
#ourNews {
  margin: 20px 5px 20px 5px;
}
#ourNews h1 {
  font-size: 75px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 20px 0;
}
@media all and (max-width: 720px) {
  #ourNews h1 {
    font-size: 50px;
  }
}
@media all and (max-width: 599px) {
  #ourNews h1 {
    font-size: 40px;
  }
}
@media all and (max-width: 380px) {
  #ourNews h1 {
    font-size: 25px;
  }
}
#ourNews hr {
  height: 3px;
  color: black;
}
#ourNews h4 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0 20px 0;
}
@media all and (max-width: 720px) {
  #ourNews h4 {
    font-size: 30px;
  }
}
@media all and (max-width: 599px) {
  #ourNews h4 {
    font-size: 20px;
  }
}
@media all and (max-width: 380px) {
  #ourNews h4 {
    font-size: 17px;
  }
}
#ourNews p {
  font-size: 18px;
}
@media all and (max-width: 599px) {
  #ourNews p {
    font-size: 17px;
  }
}
@media all and (max-width: 599px) {
  #ourNews p {
    font-size: 16px;
  }
}

#main-news-on-page {
  margin: 20px 0 20px 0;
  background-color: #f1f1f1;
}
@media all and (max-width: 720px) {
  #main-news-on-page {
    display: none;
  }
}
#main-news-on-page .fresh-news {
  padding: 90px 0 60px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#main-news-on-page .fresh-news .main-card {
  background-color: white;
  width: 900px;
  margin: 0 20px;
  border: none;
}
@media all and (max-width: 1018px) {
  #main-news-on-page .fresh-news .main-card {
    max-width: 700px;
  }
}
#main-news-on-page .fresh-news .main-card .main-image {
  background: url(../../img/news/damImage.narrow.1640w.j_1560856873531.jpg) no-repeat;
  background-size: cover;
  margin-left: -40px;
  margin-top: -40px;
  width: 900px;
  height: 550px;
}
@media all and (max-width: 1018px) {
  #main-news-on-page .fresh-news .main-card .main-image {
    max-width: 700px;
    height: 500px;
    margin-left: 0;
    margin-top: 0;
  }
}
#main-news-on-page .fresh-news .main-card h2 {
  text-transform: uppercase;
  font-size: 30px;
  padding-top: 8px;
  padding-bottom: 25px;
  margin-left: 10px;
  font-weight: 500;
}
#main-news-on-page .fresh-news .main-card p {
  font-style: italic;
  margin-left: 10px;
  margin-top: 10px;
}

#news h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
}
#news h3::before, #news h3::after {
  content: "—";
}

#news-line {
  padding-top: 30px;
  background-color: #f1f1f1;
}
#news-line .containerPage .newsCards {
  padding: 50px 0 60px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media all and (max-width: 790px) {
  #news-line .containerPage .newsCards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#news-line .containerPage .newsCards .card {
  background-color: white;
  width: 350px;
  margin: 0 20px;
  border: none;
}
@media all and (max-width: 380px) {
  #news-line .containerPage .newsCards .card {
    margin: 0;
    max-width: 280px;
  }
}
#news-line .containerPage .newsCards .card .image1,
#news-line .containerPage .newsCards .card .image2,
#news-line .containerPage .newsCards .card .image3 {
  margin-left: -20px;
  margin-top: -20px;
  width: 350px;
  height: 250px;
}
@media all and (max-width: 380px) {
  #news-line .containerPage .newsCards .card .image1,
#news-line .containerPage .newsCards .card .image2,
#news-line .containerPage .newsCards .card .image3 {
    margin-left: 0;
    margin-top: 0;
    max-width: 280px;
  }
}
#news-line .containerPage .newsCards .card .image1 {
  background: url(../../img/first-page/news1.jpeg) no-repeat;
  background-size: cover;
}
#news-line .containerPage .newsCards .card .image2 {
  background: url(../../img/first-page/news2.jpg) no-repeat;
  background-size: cover;
}
#news-line .containerPage .newsCards .card .image3 {
  background: url(../../img/first-page/news3.jpg) no-repeat;
  background-size: cover;
}
#news-line .containerPage .newsCards .card h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 18px;
}
#news-line .containerPage .newsCards .card p {
  font-style: italic;
  text-decoration: underline;
  margin-left: 10px;
  margin-top: 10px;
}
@media all and (max-width: 790px) {
  #news-line .containerPage .newsCards .card2 {
    margin-top: 70px;
  }
}
@media all and (max-width: 790px) {
  #news-line .containerPage .newsCards .card3 {
    margin-top: 70px;
  }
}/*# sourceMappingURL=styleNM.css.map */