// .whiteDiv{
//     display: inline-block;
//     background-color: white;
//     height: 30px;
//     border-color: red;
// }
.save_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
}
