.images{
    position: relative;
    margin: 0 auto;
    width: 420px;
    height: 420px;
   
}
.images img:nth-child(1){
    position: absolute;
    top: 10px;
    left: 0;
}
.images img:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
}
.images img:nth-child(3){
    position: absolute;
    bottom: 0;
    right: 125px;
}
.images img:nth-child(4){
    position: absolute;
    bottom: 110px;
    right: 85px;
}
.images img:hover{
  z-index: 1;
}