@import "var-3-door-mini";
@import "mixin-3-door-mini";

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: black;
  font-family: "Source Serif Pro", serif;
}

ul {
  li {
    list-style: none;
  }
}
a {
  text-decoration: none;
}
.containerPage {
  max-width: $md;
  margin: 0 auto;
  padding: 0;
}
.controls {
  position: fixed;
  font-size: 42px;
  right: 10px;
  top: 10px;
  display: none;
    // @include myMediaNl($fourthmedia) {
    //   display: flex;
    //   .fa-times-circle {
    //     display: none;
    //   }
    // }
}
header {
    .header {
      .containerPage {
        .navHead {
          width: 100%;
          margin: 20px 0 20px 0;
          display: flex;
          justify-content: space-around;
          align-items: center;
        //   @include myMediaDiller($firstmedia) {
        //     flex-direction: column;
        //   }
          .logo {
            display: inline-block;
            height: 35px;
            width: 75px;
            margin-left: 20px;
            background: url("../../img/mini-logo-black.svg") no-repeat center;
            margin-right: 40px;
            // @include myMediaDiller($firstmedia) {
            //   margin-right: 20px;
            //   margin-bottom: 10px;
            // }
            &:hover {
              background: url("../../img/first-page/mini-logo-white.svg")
                no-repeat center;
              background-color: black;
              border-radius: 3px;
            }
          }
          ul {
                width: 90%;
                display: flex;
                margin: 0;
                justify-content: space-around;
                // @include myMediaDiller($secondmedia) {
                //   width: 100%;
                //   padding-left: 0;
                // }
                // @include myMediaDiller($thirdmedia) {
                //   position: fixed;
                //   height: 101vh;
                //   background-color: black;
                //   flex-direction: column;
                //   top: 0;
                //   left: -80%;
                //   width: 80%;
                //   transition: 0.5s;
                //   z-index: 9;
                //   justify-content: space-evenly;
                //   padding-left: 30px;
                // }
                li {
                list-style: none;
                color: black;
                padding: 8px;
                //   @include myMediaDiller($thirdmedia) {
                //     color: white;
                //     font-size: 30px;
                //   }
                //   @include myMediaDiller($fivesmedia) {
                //     font-size: 20px;
                //   }
                &:hover {
                    background-color: black;
                    border-radius: 3px;
                    color: white;
                }
                a {
                    color: inherit;
                    text-transform: uppercase;
                    margin: 5px;
                }
                    
            }
          }
        }
      }
    }
    
    .breadcrumb{
      ol{  
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0;
        li {
          display: inline;
          list-style: none;
          color: black;
          color: inherit;
          text-transform: uppercase;
          font-size: 13px;
          span{
            &:hover {
            text-decoration:underline;
            }
          }
          a {
            color: inherit;
            text-transform: uppercase;
            margin: 5px;
          }
          &::after{
            content: " /\00a0";
          }
          &:last-child{
            &:after{
              display: none;
            }
          }
        }
      }
    }
}
#vid{
    .main-video{
        position: relative;
        padding-bottom: 56.25%; 
        height: 0;
        overflow: hidden;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-width: 0;
            outline-width: 0;
            margin-top: -58px;
        }
        .white-bord{
            background-color: $white;
            width: 100%;
            height: 55px;
            z-index: 50;
            position: absolute;
            bottom: 55px;
        }
        .transparent{
            background-color: transparent;
            width: 100%;
            height: 100%;
            z-index: 51;
            position: absolute;
        }
    }
}


footer {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  .containerPage {
    .footer {
      display: flex;
      justify-content: space-between;
      color: $slider-text-color;
      position: relative;
      .social {
        margin: 0;
        display: flex;
        align-items: center;
        .facebook {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: black;
          margin-right: 20px;
          margin-left: 20px;
          text-align: center;
          i {
            color: white;
            margin-top: 7px;
          }
        }
        .instagram {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: black;
          margin-right: 20px;
          text-align: center;
          vertical-align: middle;
          i {
            color: white;
            margin-top: 7px;
          }
        }
      }
    }
    .up {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: black;
      margin-right: 20px;
      text-align: center;
        // @include myMediaNL($fivesmedia) {
        //   position: fixed;
        //   z-index: 20;
        //   bottom: 20px;
        //   right: 10px;
        //   margin: 0;
        // }
      i {
        color: white;
        margin-top: 7px;
      }
    }
  }
}
