@charset "UTF-8";
#shortTezis .shortTezis {
  width: 70%;
}
#shortTezis .shortTezis p {
  font-family: "Source Serif Pro", serif;
  font-size: 19px;
  padding-bottom: 20px;
}

#carousel-cars {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  min-width: 0;
}
#carousel-cars .slider-photo-car .photo {
  width: 300px;
  height: 350px;
  margin: 10px;
}
#carousel-cars .slider-photo-car .photo:nth-child(1) {
  background: url(../../img/mini-3-dors/owl-c-1.jpg) no-repeat center;
}
#carousel-cars .slider-photo-car .photo:nth-child(2) {
  background: url(../../img/mini-3-dors/owl-c-2.jpg) no-repeat center;
}
#carousel-cars .slider-photo-car .photo:nth-child(3) {
  background: url(../../img/mini-3-dors/owl-c-3.jpg) no-repeat center;
}
#carousel-cars .slider-photo-car .photo:nth-child(4) {
  background: url(../../img/mini-3-dors/owl-c-4.jpg) no-repeat center;
}
#carousel-cars .slider-photo-car .photo:nth-child(5) {
  background: url(../../img/mini-3-dors/owl-c-5.jpg) no-repeat center;
}
#carousel-cars .slider-photo-car .photo:nth-child(6) {
  background: url(../../img/mini-3-dors/owl-c-6.jpg) no-repeat center;
}

h2,
h3 {
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
h3::before, h3::after {
  content: "—";
}

h2 {
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
}

#features {
  background-color: black;
  color: white;
  padding-bottom: 40px;
}
#features .features-accordion {
  width: 100%;
}
#features .features-accordion h2,
#features .features-accordion h3,
#features .features-accordion h4,
#features .features-accordion p {
  color: white;
  font-family: "Source Serif Pro", serif;
}
#features .features-accordion hr {
  color: white;
  height: 3px;
  opacity: 0.8;
}
#features .features-accordion .plus-minus {
  position: relative;
  height: 40px;
}
#features .features-accordion .plus-minus i {
  position: absolute;
  right: 47%;
  color: white;
  font-size: 40px;
  padding: 20px;
}
#features .features-accordion .plus-minus .fa-plus-circle {
  display: inline-block;
}
#features .features-accordion .plus-minus .fa-minus-circle {
  display: none;
}
#features .features-accordion .content img {
  width: 100%;
}
#features .features-accordion .accordion-body {
  display: none;
  flex-direction: column;
  width: 60%;
}
#features .features-accordion .accordion-body img {
  width: 100%;
  padding: 20px 0 20px 0;
}
#features .features-accordion .accordion-body h4 {
  align-items: flex-start;
}
#features .features-accordion .accordion-body p {
  padding-bottom: 40px;
}

#cooseColor {
  padding-top: 40px;
  background-color: #f1f1f1;
}
#cooseColor hr {
  height: 3px;
  color: black;
  opacity: 1;
}
#cooseColor .opppa {
  position: relative;
}
#cooseColor .opppa .car-change-color {
  display: flex;
}
#cooseColor .opppa .car-change-color .car-carousel .carousel-indicators {
  margin-bottom: 0;
  z-index: 2222;
  padding: 0;
}
#cooseColor .opppa .car-change-color .car-carousel .carousel-indicators button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
#cooseColor .opppa .car-change-color .car-carousel .carousel-indicators button:first-child {
  background-image: linear-gradient(to bottom right, #bd0410, rgba(191, 14, 23, 0.97), rgba(193, 23, 30, 0.94), rgba(195, 33, 38, 0.91), rgba(197, 42, 45, 0.88), rgba(199, 52, 52, 0.85), rgba(198, 45, 45, 0.88), rgba(196, 38, 38, 0.9), rgba(195, 31, 31, 0.93), rgba(194, 24, 24, 0.95), rgba(192, 17, 17, 0.98), #bf0a0a);
}
#cooseColor .opppa .car-change-color .car-carousel .carousel-indicators button:nth-child(2) {
  background-image: linear-gradient(to bottom right, #1b0f9e, #1d13a7, #1f18b0, #211cba, #2321c3, #2525cc, #2122c4, #1c1ebc, #181bb4, #1417ac, #0f14a4, #0b109c);
}
#cooseColor .opppa .car-change-color .car-carousel .carousel-indicators button:nth-child(3) {
  background-image: linear-gradient(to bottom right, #e06a09, rgba(221, 108, 18, 0.99), rgba(218, 110, 27, 0.99), rgba(215, 112, 36, 0.98), rgba(212, 114, 45, 0.98), rgba(209, 116, 54, 0.97), rgba(213, 116, 49, 0.97), rgba(218, 117, 44, 0.97), rgba(222, 117, 39, 0.97), rgba(226, 117, 33, 0.96), rgba(231, 118, 28, 0.96), rgba(235, 118, 23, 0.96));
}
#cooseColor .opppa .car-change-color .car-carousel .carousel-indicators button:nth-child(4) {
  background-image: linear-gradient(to bottom right, #091a03, #13210f, #1e281a, #282f26, #333631, #3d3d3d, #343633, #2b2f29, #22281f, #192015, #10190b, #071201);
}
#cooseColor .opppa .car-change-color .car-carousel .carousel-indicators button:last-child {
  background-image: linear-gradient(to bottom right, #1c5707, #1f590e, #225b15, #265d1c, #295f23, #2c612a, #2b5d26, #295822, #28541e, #26501a, #254b16, #234712);
}
#cooseColor .opppa .car-change-color .car-carousel .carousel-indicators [data-bs-target] {
  opacity: 1;
}
#cooseColor .opppa .wheels {
  padding-bottom: 80px;
}
#cooseColor .opppa .wheels .wheels-car {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
}
#cooseColor .opppa .wheels .wheels-car .carousel-indicators {
  margin-bottom: -75px;
  z-index: 222;
  padding: 0;
}
#cooseColor .opppa .wheels .wheels-car .carousel-indicators button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: inherit;
  background-size: contain;
  background-repeat: no-repeat;
}
#cooseColor .opppa .wheels .wheels-car .carousel-indicators button:first-child {
  background-image: url(../../img/mini-3-dors/wheel1.png);
}
#cooseColor .opppa .wheels .wheels-car .carousel-indicators button:nth-child(2) {
  background-image: url(../../img/mini-3-dors/wheel2.png);
}
#cooseColor .opppa .wheels .wheels-car .carousel-indicators button:nth-child(3) {
  background-image: url(../../img/mini-3-dors/wheel3.png);
}
#cooseColor .opppa .wheels .wheels-car .carousel-indicators button:nth-child(4) {
  background-image: url(../../img/mini-3-dors/wheel4.png);
}
#cooseColor .opppa .wheels .wheels-car .carousel-indicators button:last-child {
  background-image: url(../../img/mini-3-dors/wheel5.png);
}
#cooseColor .opppa .wheels .wheels-car .carousel-indicators [data-bs-target] {
  opacity: 1;
}

#ditails {
  display: flex;
  justify-content: space-between;
  min-width: 0;
}
#ditails .containerPage {
  overflow: hidden;
}
#ditails .slider-ditals .slick-track {
  display: flex;
  min-width: 0;
}
#ditails .slider-ditals .slick-track .item {
  background-color: #f1f1f1;
  padding: 10px;
  margin: 20px;
  height: 650px;
}
#ditails .slider-ditals .slick-track .item .slick-list {
  overflow: hidden;
}
#ditails .slider-ditals .slick-track .item img {
  width: 100%;
}
@media all and (max-width: 480px) {
  #ditails .slider-ditals .slick-track .item img {
    display: none;
  }
}
@media all and (max-width: 480px) {
  #ditails .slider-ditals .slick-track .item {
    height: 300px;
  }
}
#ditails .slider-ditals .slick-track .item h5 {
  text-transform: uppercase;
  font-family: "Source Serif Pro", serif;
  font-size: 25px;
  font-weight: 600;
  padding-top: 20px;
}
@media all and (max-width: 480px) {
  #ditails .slider-ditals .slick-track .item h5 {
    font-size: 20px;
  }
}
#ditails .slider-ditals .slick-track .item p {
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
}
@media all and (max-width: 480px) {
  #ditails .slider-ditals .slick-track .item p {
    font-size: 18px;
  }
}

#test-drive img,
#diller-in-RB img {
  width: 100%;
}
#test-drive button,
#diller-in-RB button {
  text-transform: uppercase;
  background-color: black;
  border: none;
  margin-top: 65px;
  padding: 15px;
  border-radius: 1px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  border: black solid 2px;
}
#test-drive button a,
#diller-in-RB button a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
#test-drive button:hover,
#diller-in-RB button:hover {
  background-color: white;
  color: black;
  border: black solid 2px;
}
#test-drive button:hover a,
#diller-in-RB button:hover a {
  color: black;
}/*# sourceMappingURL=style-3-door-mini.css.map */