* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  color: black;
  font-family: "Source Serif Pro", serif; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }

.containerPage {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0; }

.controls {
  position: fixed;
  font-size: 42px;
  right: 10px;
  top: 10px;
  display: none; }

header .header .containerPage .navHead {
  width: 100%;
  margin: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  header .header .containerPage .navHead .logo {
    display: inline-block;
    height: 35px;
    width: 75px;
    margin-left: 20px;
    background: url("../../img/mini-logo-black.svg") no-repeat center;
    margin-right: 40px; }
    header .header .containerPage .navHead .logo:hover {
      background: url("../../img/first-page/mini-logo-white.svg") no-repeat center;
      background-color: black;
      border-radius: 3px; }
  header .header .containerPage .navHead ul {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    header .header .containerPage .navHead ul li {
      list-style: none;
      color: black;
      padding: 8px; }
      header .header .containerPage .navHead ul li:hover {
        background-color: black;
        border-radius: 3px;
        color: white; }
      header .header .containerPage .navHead ul li a {
        color: inherit;
        text-transform: uppercase;
        margin: 5px; }
header .breadcrumb ol {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0; }
  header .breadcrumb ol li {
    display: inline;
    list-style: none;
    color: black;
    color: inherit;
    text-transform: uppercase;
    font-size: 13px; }
    header .breadcrumb ol li span:hover {
      text-decoration: underline; }
    header .breadcrumb ol li a {
      color: inherit;
      text-transform: uppercase;
      margin: 5px; }
    header .breadcrumb ol li::after {
      content: " /\00a0"; }
    header .breadcrumb ol li:last-child:after {
      display: none; }

#news-clubman .smallContain {
  max-width: 1100px; }
  #news-clubman .smallContain hr {
    height: 3px;
    color: black; }
  #news-clubman .smallContain .clubman {
    width: 70%; }
    #news-clubman .smallContain .clubman h1 {
      font-size: 60px;
      padding: 30px 0 30px 0; }
    #news-clubman .smallContain .clubman img {
      width: 100%;
      padding: 20px 0 20px 0; }
  #news-clubman .smallContain .full {
    width: 100%;
    padding: 20px 0 20px 0; }
  #news-clubman .smallContain h2, #news-clubman .smallContain h3 {
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 18px;
    font-family: "Source Serif Pro", serif; }
  #news-clubman .smallContain h2 {
    font-weight: 600; }
  #news-clubman .smallContain h3 {
    font-weight: 500; }
  #news-clubman .smallContain p {
    font-size: 18px;
    padding: 20px 0 20px 0; }
  #news-clubman .smallContain .comfort .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #news-clubman .smallContain .comfort .images .first-img, #news-clubman .smallContain .comfort .images .second-img {
      width: 45%; }

#btn-allNews {
  background-color: #f1f1f1; }
  #btn-allNews .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #btn-allNews .button button {
      text-transform: uppercase;
      background-color: black;
      border: none;
      margin-top: 40px;
      margin-bottom: 40px;
      padding: 15px;
      border-radius: 1px;
      color: white;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 20px;
      border: black solid 2px; }
      #btn-allNews .button button a {
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 20px; }
      #btn-allNews .button button:hover {
        background-color: white;
        color: black;
        border: black solid 2px; }
        #btn-allNews .button button:hover a {
          color: black; }

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px; }
  footer .containerPage .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white;
    position: relative; }
    footer .containerPage .footer .social {
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      footer .containerPage .footer .social .facebook {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: black;
        margin-right: 20px;
        margin-left: 20px;
        text-align: center; }
        footer .containerPage .footer .social .facebook i {
          color: white;
          margin-top: 7px; }
      footer .containerPage .footer .social .instagram {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: black;
        margin-right: 20px;
        text-align: center;
        vertical-align: middle; }
        footer .containerPage .footer .social .instagram i {
          color: white;
          margin-top: 7px; }
  footer .containerPage .up {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: black;
    margin-right: 20px;
    text-align: center; }
    footer .containerPage .up i {
      color: white;
      margin-top: 7px; }

/*# sourceMappingURL=styleClubman.css.map */