@import "../all/mixin";
@import "../all/var";
@import "../all/menu-footer-style";
@import "varClubman";

#news-clubman{
  .full {
    width: 100%;
    padding: 20px 0 20px 0;
  }
  .smallContain{
    max-width: 1100px;
    hr {
      height: 3px;
      color: black;
    }
    .clubman{
      width: 70%;
      h1{
        font-size: 60px;
        padding: 30px 0 30px 0;
        @include myMedia($secondmedia) {
          font-size: 50px;;
        }
      }
      img{
        width: 100%;
        padding: 20px 0 20px 0;
      }
    }
    h2,h3{
      text-transform: uppercase;
      font-size: 28px;
      margin-bottom: 20px;
      margin-top: 18px;
      font-family: $main-font-family;
      @include myMedia($secondmedia) {
        font-size: 23px;;
      }
    }
    h2 {
      font-weight: 600;
    }
    h3{ 
      font-weight: 500;
    }
    p {
      font-size: 18px;
      padding: 20px 0 20px 0;
      @include myMedia($thirdmedia) {
        font-size: 16px;
      }
    }
    .comfort{
     .images{
        display: flex;
        justify-content: space-between;
        @include myMedia($thirdmedia) {
          flex-direction: column;
          width: 100%;
         }
        .first-img, .second-img{
          width: 45%;
          @include myMedia($thirdmedia) {
            flex-direction: column;
            width: 90%;
           }
        }
      }
    }
  }
}
#btn-allNews{
  background-color: $JCW-background;
  .button {
    display: flex;
    justify-content: center;
    button {
      text-transform: uppercase;
      background-color: $main-text-color;
      border: none;
      margin-top: 40px;
      margin-bottom: 40px;
      padding: 15px;
      border-radius: 1px;
      color: $slider-text-color;
      font-family: $font-for-btn;
      font-weight: 300;
      font-size: 20px;
      border: black solid 2px; 
      @include myMedia($secondmedia) {
        padding: 13px;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      a{
        color: white;
        font-family: $font-for-btn;
        font-weight: 300;
        font-size: 20px;
        @include myMedia($secondmedia) {
          font-size: 16px;
        }
      }
      &:hover {
        background-color: white;
        color: black;
        border: black solid 2px;
        a{
          color: black;
        }
      }
    }
  }
}