@import "../all/mixin";
@import "../all/var";
@import "../all/menu-footer-style";
@import "varFD";

#dillers {
  padding: 30px 0;
  background-color: $JCW-background;
  margin-bottom: 50px;
  h1 {
    text-align: center;
    font-family: $main-font-family;
    font-size: 32px;
    font-weight: 400;
  }
}
#map {
  .containerPage {
    display: flex;
    flex-shrink: 1;
    iframe {
      @include myMedia($fourthmedia) {
        max-height: 300px;
      }
    }
  }
}
#dillerInfo {
  margin: 50px 0 5px 0;
  background-color: $JCW-background;
  .containerPage {
    .autoidea {
      line-height: 2;
      @include myMedia($fourthmedia) {
        flex-direction: column;
      }
      h3 {
        font-family: $main-font-family;
        font-size: 32px;
        font-weight: 400;
        @include myMedia($fourthmedia) {
          margin-bottom: 20px;
        }
      }
      padding: 30px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .conacts {
        display: flex;
        justify-content: center;
        .autoidea-inquiry {
          margin-right: 30px;
        }
      }
    }
    i {
      margin-right: 10px;
    }
  }
}