@import "variableFirstPage";
@import "mixins";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: $main-text-color;
  font-family: $main-font-family;
}

.containerPage {
  max-width: $md;
  margin: 0 auto;
  padding: 0;
  @include myMedia($six) {
    width: 300px;
  }
}
.controls {
  position: fixed;
  color: white;
  right: 10px;
  top: 10px;
  z-index: 18;
  font-size: 40px;
  display: none;
  @include myMedia($six) {
    display: flex;
  }
  .fa-times-circle {
    display: none;
  }
}

a {
  text-decoration: none;
}
.menuSM {
  position: fixed;
  background: black;
  background: url("../../img/first-page/mini-logo-white.svg") no-repeat center;
  margin: 0 auto;
  max-width: 200px;
  height: 125px;
  display: none;
  @include myMedia($six) {
    display:flex;
  }
}
#main-page-slider {
  
  .carousel-indicators {
    @include myMedia($six) {
      display: none;
    }
  }
  .carousel-inner {
    position: relative;
    header {
      width: 100%;
      position: absolute;
      z-index: 10;
      .containerPage {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
      }
    }
    nav {
      width: 100%;
      margin: 20px 0 20px 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      @include myMedia($fives) {
        flex-direction: column;
      }
      .logo {
        @include myMedia($fives) {
          margin-bottom: 10px;
        }
        @include myMedia($six) {
          margin: 25px;
          height: 70px;
          width: 150px;
        }
        height: 35px;
        width: 75px;
        margin-left: 20px;
        background: url("../../img/first-page/mini-logo-white.svg") no-repeat
          center;
        margin-right: 40px;
        &:hover {
          background: url("../../img/first-page/mini-logo-bl.svg") no-repeat
            center;
          background-color: white;
          border-radius: 3px;
        }
      }
      ul {
        width: 90%;
        display: flex;
        margin: 0;
        justify-content: space-around;
        @include myMedia($fives) {
          width: 100%;
          padding-left: 0;
        }
        @include myMedia($six) {
          position: fixed;
          top: 0px;
          left: -80%;
          transition: 0.5s;
          height: 102vh;
          width: 80%;
          background: $main-text-color;

          color: white;
          flex-direction: column;
          justify-content: space-around;
          padding-left: 10px;
        }
        li {
          list-style: none;
          color: $slider-text-color;
          &:hover {
            background-color: white;
            border-radius: 3px;
            color: $main-text-color;
          }
          a {
            color: inherit;
            text-transform: uppercase;
            margin: 5px;
          }
        }
      }
    }
  }

  .carousel-caption {
    top: 110px;
    text-align: start;
    text-transform: uppercase;
    display: flex;
    h5,
    p {
      color: $slider-text-color;
    }
    h5 {
      font-size: 55px;
      font-weight: $bold;
      @include myMedia($third) {
        font-size: 40px;
      }
    }
    p {
      font-size: 30px;
      @include myMedia($third) {
        font-size: 20px;
      }
    }
    div {
      display: flex;
      button {
        &:hover {
          background: transparent;
          span {
            opacity: 1;
          }
        }
        border: $slider-text-color solid 1px;
        color: $slider-text-color;
        background-color: $slider-text-color;
        opacity: 0.7;
        border-radius: 1px;
        margin-right: 20px;
        margin-bottom: 20px;
        height: 50px;
        width: 200px;
        span {
          opacity: 1;
          padding: 20px;
          text-transform: uppercase;
          color: $main-text-color;
          &:hover {
            color: $slider-text-color;
          }
        }
      }
    }
  }
}

#model-row {
  .containerPage {
    .cars {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 20px;
      @include myMedia($first) {
        flex-shrink: 0;
        flex-flow: wrap;
        justify-content: space-evenly;
      }
      .model {
        width: 25%;
        @include myMedia($second) {
          width: 320px;
        }
        .model1 {
          max-width: 320px;
          height: 125px;
          background: url(../../img/first-page/mini-three-doors.jpeg) no-repeat
            center;
        }
        .model2 {
          max-width: 320px;
          height: 125px;
          background: url(../../img/first-page/mini-five-doors.jpeg) no-repeat
            center;
        }
        .model3 {
          max-width: 320px;
          height: 125px;
          background: url(../../img/first-page/clubman.jpeg) no-repeat center;
        }
        .model4 {
          max-width: 320px;
          height: 125px;
          background: url(../../img/first-page/counnryman.jpeg) no-repeat center;
        }
        display: flex;
        flex-direction: column;
        p {
          text-align: center;
          a {
            color: inherit;
          }
        }
      }
    }
  }
  .JCW-model {
    background-color: #f1f1f1;

    .containerPage {
      .JCW-1 {
        margin: 0 auto;
        max-width: 320px;
        height: 125px;
        background: url(../../img/first-page/JCW.svg) no-repeat center;
      }
    }
  }
}

h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-style: italic;
  &::before,
  &::after {
    content: "\2014";
  }
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  @include myMedia($six) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

#find-a-diller {
  position: relative;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 0px;
  @include myMedia($first) {
    padding-top: 60px;
  }
  .containerPage {
    .dill {
      margin: 0 auto;
      padding: 30px;
      max-width: 80%;
      @include myMedia($first) {
        max-width: 570px;
        padding: 20px;
      }
      display: flex;
      justify-content: space-between;
      background-color: $JCW-background;
      align-items: center;
      @include myMedia($six) {
        flex-direction: column;
      }
      h2 {
        text-transform: uppercase;
        margin-bottom: 0;
        @include myMedia($first) {
          font-size: 20px;
        }
      }
      button {
        text-transform: uppercase;
        background-color: $btn-color;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 90px;
        padding-right: 90px;
        border: $btn-color solid 2px;
        @include myMedia($first) {
          padding-left: 50px;
          padding-right: 50px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        &:hover {
          background-color: white;
          border: $btn-color solid 2px;
          a {
            color: $btn-color;
          }
          i {
            color: $btn-color;
          }
        }
        a {
          color: $slider-text-color;
          font-family: $font-for-btn;
          font-size: 25px;
          font-weight: 300;
          @include myMedia($first) {
            font-size: 18px;
          }
        }
        i {
          color: $slider-text-color;
          margin-right: 5px;
          font-size: 25px;
          @include myMedia($first) {
            font-size: 18px;
          }
        }
      }
    }
  }
}
#proposals {
  padding-top: 20px;
  padding-bottom: 90px;
  @include myMedia($six) {
    padding-bottom: 50px;
  }
  .containerPage {
    .proposals-main {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include myMedia($first) {
        justify-content: center;
      }
      @include myMedia($six) {
        width: 100%;
        margin: 0;
      }
      .price-list {
        @include myMedia($six) {
          margin-top: 30px;
        }
      }
      .stay-up-to-date,
      .price-list {
        border: white solid 20px;
        position: relative;
        background-color: $JCW-background;
        max-width: 450px;
        @include myMedia($first) {
          max-width: 600px;
        }
        @include myMedia($six) {
          width: 100%;
          border: none;
        }
        img {
          max-width: 100%;
        }
        h2 {
          text-transform: uppercase;
          text-align: left;
          margin-top: 20px;
        }
        h2,
        p {
          margin-left: 20px;
        }
        p {
          margin-bottom: 90px;
          font-size: 18px;
        }
        hr {
          height: 2px;
        }
        button {
          text-transform: uppercase;
          background-color: $main-text-color;
          border: none;
          padding: 15px;
          border-radius: 1px;
          color: $slider-text-color;
          position: absolute;
          bottom: 20px;
          left: 20px;
          font-family: $font-for-btn;
          font-weight: 300;
          border: black solid 2px;
          &:hover {
            background-color: white;
            color: black;
            border: black solid 2px;
          }
        }
      }
    }
  }
}
#news {
  padding-top: 20px;
  padding-bottom: 90px;
  background-color: $JCW-background;
  .containerPage {
    .newsCards {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .card {
        width: 350px;
        margin: 0 20px;
        border: none;
        @include myMedia($six) {
          width: 95%;
          margin: 0;
        }
        .image1,
        .image2,
        .image3 {
          width: 350px;
          height: 250px;
          margin-left: -20px;
          margin-top: -20px;
          @include myMedia($first) {
            width: 400px;
          }
          @include myMedia($six) {
            width: 100%;
            margin-left: 0;
            margin-top: 0;
          }
        }

        .image1 {
          background: url(../../img/first-page/news1.jpeg) no-repeat;
          background-size: cover;
        }
        .image2 {
          background: url(../../img/first-page/news2.jpg) no-repeat;
          background-size: cover;
        }
        .image3 {
          background: url(../../img/first-page/news3.jpg) no-repeat;
          background-size: cover;
        }
        h2 {
          text-transform: uppercase;
          font-size: 20px;
          margin-bottom: 30px;
          margin-left: 10px;
        }
        p {
          font-style: italic;
          margin-left: 10px;
          margin-top: 10px;
        }
        @include myMedia($first) {
          width: 400px;
        }
      }

      .card2 {
        @include myMedia($third) {
          margin-top: 70px;
        }
      }
      .card3 {
        @include myMedia($first) {
          margin-top: 70px;
        }
      }
    }
  }
  .button {
    display: flex;
    justify-content: center;
    button {
      text-transform: uppercase;
      background-color: $main-text-color;
      border: none;
      margin-top: 65px;
      padding: 15px;
      border-radius: 1px;
      color: $slider-text-color;
      font-family: $font-for-btn;
      font-weight: 200;
      font-size: 20px;
      border: black solid 2px;
      &:hover {
        background-color: white;
        color: black;
        border: black solid 2px;
      }
    }
  }
}
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  .containerPage {
    .footer {
      display: flex;
      justify-content: space-between;
      color: $slider-text-color;
      position: relative;
      .social {
        display: flex;
        align-items: center;
        @include myMedia($six) {
          position: absolute;
          right: 50%;
          top: 50%;
        }
        .facebook {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: black;
          margin-right: 20px;
          margin-left: 20px;
          text-align: center;
          i {
            color: white;
            margin-top: 7px;
          }
        }
        .instagram {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: black;
          margin-right: 20px;
          text-align: center;
          vertical-align: middle;
          i {
            color: white;
            margin-top: 7px;
          }
        }
      }
    }
    .up {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: black;
      margin-right: 20px;
      text-align: center;
      @include myMedia($six) {
        position: fixed;
        z-index: 20;
        bottom: 20px;
        right: 10px;
        margin: 0;
      }
      i {
        color: white;
        margin-top: 7px;
      }
    }
  }
}
