.MobileCompany
{
  
  width: 800px;
  padding: 3px 7px;
  background-color: rgb(255, 255, 255);
}

.MobileCompanyName
{
  font-weight: bold;
  padding: 10px;
  border-bottom: solid 1px;
}

.MobileCompanyClients
{
  padding-top: 5px;
  padding-bottom: 25px;
}
.btn
{
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px;
}