@import "../all/mixin";
@import "../all/var";
@import "../all/menu-footer-style";
@import "varNL";

#headlights{
  img{
    width: 100%;
  }
  hr {
    height: 3px;
    color: black;
  }
  .date {
    font-style: italic;
    text-decoration: underline;
    margin-top: 10px;
  }
  p {
    font-size: 18px;
    padding: 20px 0 20px 0;
    @include myMedia($thirdmedia) {
      font-size: 16px;
    }
  }
  h2 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 18px;
  }
  
}
#btn-allNews{
  background-color: $JCW-background;
  .button {
    display: flex;
    justify-content: center;
    button {
      text-transform: uppercase;
      background-color: $main-text-color;
      border: none;
      margin-top: 40px;
      margin-bottom: 40px;
      padding: 15px;
      border-radius: 1px;
      color: $slider-text-color;
      font-family: $font-for-btn;
      font-weight: 300;
      font-size: 20px;
      border: black solid 2px; 
      @include myMedia($secondmedia) {
        padding: 13px;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      a{
        color: white;
        font-family: $font-for-btn;
        font-weight: 300;
        font-size: 20px;
        @include myMedia($secondmedia) {
          font-size: 16px;
        }
      }
      &:hover {
        background-color: white;
        color: black;
        border: black solid 2px;
        a{
          color: black;
        }
      }
    }
  }
}
